@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

*{
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

p {
  line-height: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
	min-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 7px 7px;
  margin-bottom: 20px;
}

.main {
  flex-grow: 1;
  min-height: calc(100vh - 199px);
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 450px);
}

.main-content h1 {
  color: rgba(238, 238, 238, 0.9);
  background: linear-gradient(to right, rgba(0,0,0,0.84) 0%,rgba(0,0,0,0.14) 100%);
  border-radius: 7px;
  padding: 8px 15px;
  font-size: 2rem;
}

.left {
  min-height: 100px;
  width: 242px;
  order: -1;
}

.right {
  min-height: 100px;
  width: 200px;
}

.logo__image {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 25px 10px;
}

.logo__title {
  display: block;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 5px;
  color: #ffffff;
  padding: 15px 20px;
}

.logo__description {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 3px;
  color: #ffffff;
  padding: 0 20px 15px;
  line-height: 1.75rem;
}

.menu {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 7px 7px;
  padding: 2px 8px;
}

.menu__list {
  padding: 0;
  list-style: none;
  display: table;
/*  margin-left: auto;
  margin-right: auto;
  меню по центру*/
}

.menu__list.active {
  display: block;
}

.menu__item {
  float: left;
}

.menu__item:last-child {
  float: left;
  margin-left: 5px;
}

.menu__item.active a {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu__item a {
  margin-right: 4px;
  padding: 10px 15px;
  border-radius: 4px;
}

.menu__item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu__hamburger{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.menu__hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.menu__hamburger span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.menu__hamburger span:nth-child(1), .menu__hamburger span:nth-child(2) {
  top: 0px;
}

.menu__hamburger span:nth-child(3), .menu__hamburger span:nth-child(4) {
  top: 18px;
}

.menu__hamburger span:nth-child(5), .menu__hamburger span:nth-child(6) {
  top: 36px;
}  /*уменьшить размер кнопки (отступы полосок)*/

.menu__hamburger.open span:nth-child(1),.menu__hamburger.open span:nth-child(6) {
  transform: rotate(45deg);
}

.menu__hamburger.open span:nth-child(2),.menu__hamburger.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.menu__hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.menu__hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.menu__hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.menu__hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.menu__hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.menu__hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.breadcrumb {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  text-align: right;
  border-radius: 7px;
  padding: 8px 20px;
}

.breadcrumb span {
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.breadcrumb a {
  font-weight: bold;
}

.breadcrumb span:not(:last-of-type)::after {
  padding-right: 5px;
  padding-left: 10px;
  content: "\003E";
  font-size: 0.8rem;
}

.breadcrumb span:last-child {
  margin-right: 30px;
}

.breadcrumb .fas {
  color: #ffffff;
  padding: 0 5px 0 9px;
  font-size: 14px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}

.content-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content-item {
  padding: 10px;
  width: 30%;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.content-image {
  width: 100%;
  border-radius: 7px;
}

.content-title {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  height: 42px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  color: #ffffff;
  font-size: 1rem; 
  position: absolute; 
  right: 10px;
  top: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 7px 7px 0 0;
}

.content-description {
  position: absolute;
  top: 110%;
  display: block;
  padding: 10px;
  height: calc(100% - 66px);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  width: calc(100% - 20px);
  border-radius: 0 0 7px 7px;
  margin-top: 17px;
  transition: top 0.5s;
}

.content-url:hover .content-description{
  top: 35px;
}

.widget {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.widget h4 {
  color: #ffffff;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  line-height: 2rem;
  font-size: 1.05rem;
  letter-spacing: 1px;
  margin-top: 0;
}

.widget-new h4 {
  margin-bottom: 0;
}

.widget-search form {
  position: relative;
}

.widget-search input {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 80%;
  margin: -5px 25px 13px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.widget-search input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 1;
}

.widget-search i {
  position: absolute;
  padding-top: 8px;
  padding-left: 9px;
  height: 35px;
  width: 30px;
  opacity: 0.5;
  top: -5px;
  left: 0;
}

.widget-categories__list {
  list-style: none;
  padding: 0;
}

.widget-categories__list li {
  padding-left: 0px;
}

/*.widget-categories__list li:last-child {
  padding-bottom: 5px;
}*/

.widget-categories__list a {
  display: block;
  padding: 10px 0;
  letter-spacing: 0.5px;
  border-radius: 7px;
  transition: padding-left 0.5s, background-color 0.5s;
}

.widget-categories__list a:hover, a:focus {
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #000000;  
}

.widget-about p {
  padding: 0 0px 20px;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.8rem;
}

.widget-new__item-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.widget-new__item-img img {
  max-width: 100%;
  transition: transform 0.5s;
}

.widget-new h5 {
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 5px;
  transition: color 0.5s;
  text-shadow: 0 0 10px #000000;
}

.widget-new__item-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.widget-new__item-excerpt {
  font-size: 0.8rem;  
  transition: color 0.5s;
  color: rgba(226, 230, 230, 0.8);
  text-shadow: 0 0 10px #000000;
  padding-left: 10px;
  width: calc(100% - 90px);
}

.widget-new h5:hover {
  color: #ff0000;
}

.widget-new__item-wrap:hover .widget-new__item-excerpt {
  color: #ffffff;
}

.widget-new__item-wrap:hover .widget-new__item-img img {
  transform: scale(1.1);
}

.widget-new__item-img img {
  max-width: 100%;
  transition: transform 0.5s;
  transition: transform 0.5s;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-widget-1,
.footer-widget-2,
.footer-widget-3 {
  width: calc(25% - 20px);
  margin-right: 10px;
}

.footer-widget-2,
.footer-widget-3,
.footer-widget-4 {
  margin-left: 15px;
}

.footer-widget-4 {
  width: calc(25% - 20px);
}

.footer-widget-1 h4,
.footer-widget-2 h4,
.footer-widget-3 h4,
.footer-widget-4 h4 {
  font-size: 1.0rem;
  letter-spacing: 1px;
}

.footer-widget-1 p,
.footer-widget-2 p,
.footer-widget-3 p,
.footer-widget-4 p {
  font-size: 0.9rem;
  color: #ffffff;
}

.footer-bot h4 {
font-size: 1.0rem;
letter-spacing: 1px;
}

.footer-bot p {
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: -10px;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .right {
    width: 100%;
  }
  .main {
    overflow: hidden;
    margin: 0 0 15px 15px;
    width: calc(100% - 265px);
  }
  .main .main-breadcrumb {
    margin-right: 0;
  }
  .main .main-content {
    margin-right: -10px;
  }
}

@media (max-width: 992px) {
  .footer-widget-1,
  .footer-widget-3 {
    width: calc(45% - 10px);
    margin-left: 30px;
  }

  .footer-widget-2,  
  .footer-widget-4 {
    width: calc(45% - 10px);
    margin-right: 0;
  }
  .content-description {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .left {
    width: 50%;
    order: 0;
    padding-right: 10px;
  }
  .right {
    width: 50%;
    padding-left: 10px;
  }
  .menu__hamburger {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .menu__item {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .menu__item a {
    display: block;
  }
   .content-item {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .left {
    width: 100%;
    padding-right: 0;
  }
  .right {
    width: 100%;
    padding-left: 0;
  }
}

